<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>
  

</head>
<body>
  <ul>
  
    <% objectArray.forEach(objectArray => { %>
        <h3>Book Title: <%= objectArray.title%></h3>
        <p><%=  %></p>
        <h3>Author: <%= objectArray.author%></h3>
       
        <ul><%=  %></ul>
        <p><%=  %></p>
        <p><%=  %></p>
    <%}) %>
  </ul>
</body>
</html>